@use "./mixins" as *;
@use "./variables" as *;

*{
    box-sizing: border-box;
}
body {
    font-family: avenir, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: green;

    header {
        margin: 0;
    }

    & ul {
        list-style-type: none;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    svg {
        color: aliceblue;
        fill: currentColor;
        width: 1.8rem;
    }
}

/* Navigation Bar */
.nav {
    background-color: goldenrod;
    margin: 0;
    padding-left: 2vw;
    @include row;
    justify-content: flex-start;
    height: 10vh;

    &__smooth {
        @include row;
        width: 34%;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1rem;
    }

    &__logo {
        margin: 0;
        // padding: 0 2rem;
        transition: 0.3s;
        width: 4rem;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__items {
        @include row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
        width: 70%;
        font-weight: 500;

        &--left {
            padding: 0;
            color: black;
            transition: 0.2s;

            &:hover {
                color: green;
            }
        }

        &--right {
            width: 50%;
            transition: 0.5s;
            color: lightgray;
            transition: 0.5s;

            &:hover {
                color: $red;
                font-weight: bold;
            }
        }
    }
}

/* Footer */
.footer {
    width: 100%;
    background-color: goldenrod;
    color: black;
    @include row;
    justify-content: center;
    // height: 10.6vh;
    padding: 1rem 0 2rem;

    &__columns {
        @include row;
        justify-content: space-around;
        width: 100%;
        // text-align: center;
        // width: 70%;
    }

    &__column {
        font-weight: 500;
        @include column;
        font-size: 1.2rem;
        padding: 1vw;
        text-align: center;

        &--info {
            font-size: 0.8rem;
            margin: 0;
        }
    }
}