@use "./variables" as *;

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin box {
    background-color: $red;
    width: 20rem;
    border-radius: 0.8rem;
    border: $red-deep .1rem solid;
}