* {
  box-sizing: border-box;
}

body {
  font-family: avenir, Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: green;
}
body header {
  margin: 0;
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body svg {
  color: aliceblue;
  fill: currentColor;
  width: 1.8rem;
}

/* Navigation Bar */
.nav {
  background-color: goldenrod;
  margin: 0;
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
}
.nav__smooth {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 34%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
}
.nav__logo {
  margin: 0;
  transition: 0.3s;
  width: 4rem;
}
.nav__logo:hover {
  transform: scale(1.2);
}
.nav__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  width: 70%;
  font-weight: 500;
}
.nav__items--left {
  padding: 0;
  color: black;
  transition: 0.2s;
}
.nav__items--left:hover {
  color: green;
}
.nav__items--right {
  width: 50%;
  transition: 0.5s;
  color: lightgray;
  transition: 0.5s;
}
.nav__items--right:hover {
  color: rgb(220, 17, 17);
  font-weight: bold;
}

/* Footer */
.footer {
  width: 100%;
  background-color: goldenrod;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 2rem;
}
.footer__columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.footer__column {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 1vw;
  text-align: center;
}
.footer__column--info {
  font-size: 0.8rem;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    background-image: url("../assets/scene.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.main-battler {
  justify-content: center;
  background-image: url("../assets/scene.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .main-battler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    align-items: end;
  }
}
.main-battler__button {
  all: unset;
  cursor: pointer;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: gold;
  border-radius: 2%;
  color: rgb(149, 15, 15);
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.2rem 0.2rem;
  border: 2px solid rgb(149, 15, 15);
  margin: 1rem 0 2rem;
  height: 2rem;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randomizer {
  background-color: rgb(220, 17, 17);
  width: 20rem;
  border-radius: 0.8rem;
  border: rgb(149, 15, 15) 0.1rem solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border: black 2px solid;
}
.randomizer__head {
  color: greenyellow;
  border-radius: 0.2rem;
  border: 2px solid black;
  padding: 1rem;
  background-color: rgb(11, 75, 11);
  width: 10rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
}
.randomizer__info {
  color: greenyellow;
  border-radius: 0.2rem;
  border: 2px solid black;
  padding: 1rem;
  background-color: rgb(11, 75, 11);
  width: 10rem;
  margin-bottom: 2rem;
}
.randomizer__title {
  margin: 0.5rem 0;
}

.choose {
  background-color: rgb(220, 17, 17);
  width: 20rem;
  border-radius: 0.8rem;
  border: rgb(149, 15, 15) 0.1rem solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose__head {
  color: rgb(11, 75, 11);
  text-shadow: 1px 1px 3px greenyellow;
  font-weight: bold;
  font-size: 1.2rem;
}
.choose__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6rem;
}
.choose__form--box {
  all: unset;
  font: 16px system-ui;
  color: yellow;
  font-weight: bold;
  letter-spacing: 0.1rem;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  border: rgb(149, 15, 15) solid 1px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.choose__form--box::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
.choose__form--box::placeholder {
  color: #fff;
  opacity: 0.7;
}
.choose__form--button {
  all: unset;
  cursor: pointer;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(7, 7, 235);
  border-radius: 10%;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 1rem 1rem;
  border: 2px solid rgb(2, 2, 52);
  margin: 1rem 0 2rem;
  height: 2rem;
}
.choose__info {
  color: greenyellow;
  border-radius: 0.2rem;
  border: 2px solid black;
  padding: 1rem;
  background-color: rgb(11, 75, 11);
  width: 10rem;
  margin-bottom: 2rem;
}
.choose__title {
  margin: 0.5rem 0;
}

.battlefield {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 768px) {
  .battlefield {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 60%;
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-end;
  width: 50vw;
}
@media (min-width: 768px) {
  .user {
    align-items: flex-start;
  }
}
.user__status {
  position: relative;
  align-self: center;
  display: block;
  background-color: yellow;
}
.user__streak {
  position: relative;
  display: block;
  align-self: center;
  background-color: yellow;
}
.user__photo {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.user__platform {
  width: 100%;
  display: flex;
}
.user_image {
  width: 100%;
  overflow: unset;
}
@media (min-width: 768px) {
  .user_image {
    align-self: flex-end;
  }
}

.opponent {
  width: 50vw;
}
@media (min-width: 768px) {
  .opponent {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
}
.opponent__photo {
  width: 100%;
  max-width: 30vw;
}
.opponent__image {
  width: 100%;
}/*# sourceMappingURL=battler.css.map */